@model List<TN_academic.ViewModels.Cart>

@{ ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Banner = "~/Content/assets/images/banner/banner2.jpg";
    ViewBag.BannerText = "About Us";

    //var later = (List<TN_academic.ViewModels.Cart>)ViewBag.SessionLaterCart;

    var client = (TN_academic.ViewModels.UserModel)Session["USER_LOGIN_MODEL"];
    var payment = (List<TN_academic.Models.Payment>)ViewBag.Payment;
    double coupon = (double)ViewBag.Coupon;


}

@if (Model.Count > 0)
{
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { id = "myform" }))
                {

                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="heading-bx left">
                                <h2 class="m-b10 title-head">Billing detail</h2>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 m-b30">
                                        <div class="widget-box">
                                            <div class="widget-inner">
                                                <div class="edit-profile m-b30">
                                                    <div class="row">
                                                        <div class="form-group col-6">
                                                            <label class="col-form-label">First name</label>
                                                            <div>
                                                                <input class="form-control" type="text" value="@client.FirstName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-form-label">Last name</label>
                                                            <div>
                                                                <input class="form-control" type="text" value="@client.LastName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label class="col-form-label">Username</label>
                                                            <div>
                                                                <input class="form-control" name="username" type="text" value="@client.Username">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label class="col-form-label">Address</label>
                                                            <div>
                                                                <input class="form-control" type="text" value="@client.Address">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-form-label">Phone</label>
                                                            <div>
                                                                <input class="form-control" type="text" value="@client.Phone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-form-label">Email</label>
                                                            <div>
                                                                <input class="form-control" type="text" value="@client.Email">
                                                            </div>
                                                        </div>
                                                        <div class="seperator"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ttr-overlay"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="dzFormMsg"></div>
                            <div class="heading-bx left">
                                <h2 class="title-head">Your order</h2>
                                <div class="row placeani">
                                    <div class="col-lg-12"><hr /></div>
                                    <div class="col-lg-6 ">
                                        <b>Course</b>
                                    </div>
                                    <div class="col-lg-6" style="text-align:right">
                                        <b>Unit price</b>
                                    </div>
                                    @{
                                        double total = 0;
                                        double old_price = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-6 ">
                                            <p class="col-form-label">@item.Course.CourseName</p>
                                        </div>
                                        <div class="col-lg-6 ">
                                            <p style="text-align:right">
                                                @item.Course.Price
                                            </p>
                                        </div>
                                        total += (double)item.Course.Price;
                                        old_price += (double)item.Course.Price;

                                    }

                                    @{
                                        total = total - (total * ((double)coupon / 100));
                                    }
                                    <div class="col-lg-12"><hr /></div>
                                    <div class="col-lg-6 ">
                                        <b>Coupon</b>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <p style="text-align:right" class="col-form-label">-@coupon%</p>
                                    </div>
                                    <div class="col-lg-12"><hr /></div>
                                    <div class="col-lg-6 ">
                                        <b>Price</b>
                                    </div>
                                    <div class="col-lg-6 " style="text-align:right">
                                        <span style="text-decoration:line-through; color:red">
                                            @old_price VND
                                        </span>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <b>Total</b>
                                    </div>
                                    <div class="col-lg-6 " style="text-align:right">
                                        <span style="color:red">
                                            @total VND
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <hr />
                                        @foreach (var item in payment)
                                        {
                                            <p>
                                                <input type="radio" id="test-@item.PaymentID" name="paymentID" value="@item.PaymentID">
                                                <label for="test-@item.PaymentID">@item.PaymentName</label>
                                            </p>
                                        }

                                    </div>
                                    <div class="col-lg-12"><p id="noticepayment" style="color:red"></p></div>
                                </div>
                            </div>
                            <div class="row placeani">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                            <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <input id="btnCheckout" type="button" class="btn button-md" value="Checkout" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

}
else
{

    <section class="checkout spad">
        <div class="container">
            <h2 style="padding-top:5%;padding-bottom: 5%">Your shopping cart does not contain any courses!</h2>
        </div>
    </section>
}

<style type="text/css">
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #3c1073;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
</style>

@section ClientScript{

    <script>
        $('#btnCheckout').off('click').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                data: { paymentId: $("input[type=radio][name=paymentID]:checked").val() },
                url: '/Cart/CheckPayment',
                dataType: 'json',
                type: 'POST',
                success: function (res) {

                    if (res.status == false) {
                        $("#noticepayment").empty().append(res.data);
                    }

                    if (res.status == true) {
                        $("#myform").submit();
                    }
                }
            })
        });
    </script>
}