<div class="top-bar">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="topbar-left">
                <ul>
                    <li><a href="tel:0327291328"><i class="fa fa-question-circle"></i>(+ 84) 327 291 328</a></li>
                    <li><a href="mailto:educhamp@gmail.com"><i class="fa fa-envelope-o"></i>educhamp@gmail.com</a></li>
                </ul>
            </div>
            <div class="topbar-right">
                <ul>
                    @{
                        if (ViewBag.Permission == true)
                        {
                            if (ViewBag.IsAdmin == true)
                            {
                                <li><a href="~/Admin/Login">Admin Dashboard</a></li>
                            }


                            <li><a href="~/profile">Hi, @ViewBag.FullName</a></li>
                            <li>
                                <select id="slMenu" class="header-lang-bx">
                                    <option>Manage</option>
                                    <option value="/Blogs/Create">Your Blogs</option>
                                    @if (ViewBag.IsIns == true)
                                    {
                                        <option value="/exam/manage">Examination</option>
                                        <option value="/lectures/index">Your Courses</option>
                                    }

                                </select>
                            </li>

                            <li><a href="@Url.Action("Logout", "Login")">Sign out</a></li>
                            <li><a href="@Url.Action("MyCourses", "Courses")">My Courses</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                            <li><a href="@Url.Action("Index", "Register")">Register</a></li>
                        }
                        <li><a href="~/cart">Cart</a><span class="badge">@ViewBag.CountCart</span></li>

                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sticky-header navbar-expand-lg">
    <div class="menu-bar clearfix">
        <div class="container clearfix">
            <div class="menu-logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/logo.png" alt=""></a>
            </div>
            <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="secondary-menu">
                <div class="secondary-inner">
                    <ul>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/intent/tweet?text=" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                        <li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
                    </ul>
                </div>
            </div>
            <div class="nav-search-bar">
                @using (Html.BeginForm("Search", "Courses", FormMethod.Post))
                {
                    <input name="txtSearch" value="" type="text" class="form-control" placeholder="Type to search">
                    <span><i class="ti-search"></i></span><span id="search-remove"><i class="ti-close"></i></span>
                }
                
            </div>
            <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                <div class="menu-logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/logo.png" alt=""></a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home </a>
                    </li>
                    <li class="add-mega-menu">
                        <a href="@Url.Action("Index", "Courses")">Courses <i class="fa fa-chevron-down"></i></a>
                        <ul class="sub-menu add-menu">
                            <li class="add-menu-left">
                                <h5 class="menu-adv-title">Courses</h5>
                                <ul>
                                    @{
                                        foreach (var item in ViewBag.CategoriesList)
                                        {
                                            <li><a href="@Url.Action("Category", "Courses", new { id = item.CategoryID })">@item.CategoryName </a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="add-menu-right">
                                <img src="~/Content/assets/images/adv/adv.jpg" alt="" />
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Blogs")">Blogs <i class="fa fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            @foreach (var item in (List<TN_academic.Models.BlogCategory>)ViewBag.BlogCategoriesList)
                            {
                                <li><a href="@Url.Action("Category", "Blogs", new { id = item.CategoryID })">@item.CategoryName</a></li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "About")">About Us </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Contacts")">Contact </a>
                    </li>
                </ul>
                <div class="nav-social-link">
                    <a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/intent/tweet?text="><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source="><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


