<!DOCTYPE html>
<html lang="en">


<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp - @ViewBag.Title</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Content/assets/css/color/color-1.css">
    <style>
        .notice {
            color: #d90a04;
            padding-bottom: 12px;
        }
    </style>

</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <div class="account-form">
            <div class="account-head" style="background-image:url(@Url.Content("~/Content/assets/images/background/bg2.jpg"));">
                <a href="index.html"><img src="~/Content/assets/images/logo-white-2.png" alt=""></a>
            </div>
            @RenderBody()
        </div>
    </div>
    <!-- External JavaScripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/assets/vendors/counter/waypoints-min.js"></script>
    <script src="~/Content/assets/vendors/counter/counterup.min.js"></script>
    <script src="~/Content/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/Content/assets/vendors/masonry/masonry.js"></script>
    <script src="~/Content/assets/vendors/masonry/filter.js"></script>
    <script src="~/Content/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/assets/js/functions.js"></script>
    <script src="~/Content/assets/js/contact.js"></script>
    <script src='~/Content/assets/vendors/switcher/switcher.js'></script>
    @RenderSection("ClientScript", false)
    @Html.Partial("SweetAlertClient")

</body>

</html>
