<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EduChamp - @ViewBag.Title </title>
    <link rel="icon" href="~/Content/dashboard/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="~/Asset/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <link href="~/Asset/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/bs-stepper/css/bs-stepper.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <style>
        #imageDetail {
            display: block;
            max-width: 50%;
            max-height: 50%;
            height: auto;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        @Html.Partial("NavBar")
        @{Html.RenderAction("Aside", "Home");}
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewBag.Title</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="~/Admin/">Admin</a></li>
                                @{
                                    if (ViewBag.Manage != null)
                                    {
                                        <li class="breadcrumb-item active">@ViewBag.Manage</li>
                                    }
                                    else
                                    {
                                        <li class="breadcrumb-item"><a href="~/Admin/@ViewBag.Function/">@ViewBag.Function</a></li>
                                        <li class="breadcrumb-item active">@ViewBag.ChildFunction</li>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark"></aside>
        @Html.Partial("Footer")
    </div>
    <!-- REQUIRED ASSET -->
    <script src="~/Asset/plugins/jquery/jquery.min.js"></script>
    <script src="~/Asset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Asset/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Asset/dist/js/adminlte.js"></script>
    <script src="~/Asset/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Asset/plugins/raphael/raphael.min.js"></script>
    <script src="~/Asset/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/Asset/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="~/Asset/dist/js/demo.js"></script>
    <script src="~/Asset/dist/js/pages/dashboard2.js"></script>
    <script src="~/Asset/plugins/moment/moment.min.js"></script>
    <script src="~/Asset/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Asset/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Asset/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script>
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        $(function () {
            bsCustomFileInput.init();
        });
        $(function () {
            var href = window.location.href;
            $('nav ul li a').each(function (e, i) {
                if (href.indexOf($(this).attr('href')) >= 0) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
    @Html.Partial("SweetAlert")
    @RenderSection("ScriptConfig", false)
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
