@model TN_academic.Models.Contact

@{
    ViewBag.Title = "Contact Detail";
    ViewBag.Function = "Contacts";
    ViewBag.ChildFunction = "Contact Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h1 style="font-weight:bold; font-size:25px;" class="card-title">Detail of Contact</h1>

            <div class="card-tools">
                <a class="btn btn-block btn-secondary float-right" href="~/Admin/Contacts">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ContactID)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.ContactID)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ContactName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.ContactName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Phone)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Phone)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </p>
                            </div>
                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Fax)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Fax)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Address)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>