@model TN_academic.Models.Cours

@{
    ViewBag.Title = "Course Detail";
    ViewBag.Function = "Courses";
    ViewBag.ChildFunction = "Course Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h1 style="font-weight:bold; font-size:25px;" class="card-title">Detail of Course</h1>

            <div class="card-tools">
                <a class="btn btn-block btn-secondary float-right" href="~/Admin/Courses">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
                    <div class="row">
                        <div class="col-12">

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.CourseID)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.CourseID)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.CourseName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.CourseName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>Instructor</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Category.CategoryName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Category.CategoryName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.OldPrice)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.OldPrice)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Price)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Price)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ShortDescription)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.ShortDescription)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Description)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Quantity)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Quantity)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>Members</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.OrderDetails.Count)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Thumbnail)</strong>:
                                </div>
                                @if (!Model.Thumbnail.IsEmpty())
                                {
                                    <img class="col-sm-10" id="imageDetail" src="@Url.Content(Model.Thumbnail)" />
                                }
                                else
                                {
                                    <p class="col-sm-10">No Image</p>
                                }
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Status)</strong>:
                                </div>
                                @if (Model.Status.Equals("1"))
                                {
                                    <span class="badge badge-success">Opening</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Closed</span>
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>