@model TN_academic.Models.User

@{
    ViewBag.Title = "Instructor Detail";
    ViewBag.Function = "Instructors";
    ViewBag.ChildFunction = "Instructor Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h1 style="font-weight:bold; font-size:25px;" class="card-title">Detail of Instructor</h1>

            <div class="card-tools">
                <a class="btn btn-block btn-secondary float-right" href="~/Admin/Instructors">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
                    <div class="row">
                        <div class="col-12">

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Username)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Username)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.FirstName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.LastName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.LastName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.DOB)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.DOB)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Gender)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @if (Model.Gender == true)
                                    {
                                        <div>Male</div>
                                    }
                                    else
                                    {
                                        <div>Female</div>
                                    }
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Phone)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Phone)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Address)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Avatar)</strong>:
                                </div>
                                @if (!Model.Avatar.IsEmpty())
                                {
                                    <img class="col-sm-10" id="imageDetail" src="@Url.Content(Model.Avatar)" />
                                }
                                else
                                {
                                    <p class="col-sm-10">No Image</p>
                                }
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.UserStatu.StatusName)</strong>:
                                </div>
                                <p class="col-sm-10">
                                    @Html.DisplayFor(model => model.UserStatu.StatusName)
                                </p>
                            </div>

                            <div class="post">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Role)</strong>:
                                </div>
                                @if (Model.Role.Equals("1"))
                                {
                                    <span class="badge badge-primary">Administrator</span>
                                }
                                else if (Model.Role.Equals("2"))
                                {
                                    <span class="badge badge-warning">Instructor</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">Student</span>
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>