@model IEnumerable<TN_academic.Models.Payment>

@{
    ViewBag.Title = "Manage Payments";
    ViewBag.Manage = "Manage Payments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Payments</h3>
                <p>
                    <a class="btn btn-success btn-sm float-right" href="~/Admin/Payments/Create">
                        <i class="fas fa-plus">
                        </i>
                        Create New
                    </a>
                </p>
            </div>
            <div class="card-body">
                <table id="tbl_Payments" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentName)
                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="~/Admin/Payments/Details/@item.PaymentID">
                                        <i class="fas fa-eye">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="~/Admin/Payments/Edit/@item.PaymentID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="~/Admin/Payments/Delete/@item.PaymentID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    @Styles.Render("~/asset/css/datatable")
    @Scripts.Render("~/asset/scripts/datatable")
}
