@model TN_academic.Models.AboutU

@{
    ViewBag.Title = "Edit About Us";
    ViewBag.Function = "AboutUs";
    ViewBag.ChildFunction = "Edit About Us";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit About Us</h3>
                    </div>
                    @using (Html.BeginForm("Edit", "AboutUs", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.AboutUsID)
                        <div class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { @id = "summernote_Description" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a class="btn btn-default float-right" href="~/Admin/AboutUs">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    @Styles.Render("~/asset/css/form")
    @Scripts.Render("~/asset/scripts/form")
    <script>
        $(function () {
            $('#summernote_Description').summernote()

        })
    </script>
}